body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.app {
  display: flex;
  justify-content: center;
}

.character {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  width: 50px;
  margin: 5px;
  height: 50px;
  border: 1px solid #999
}

.letters {
  display: flex;
  justify-content: center;
}

.character.G, .keyboard .key.G {
  background: #42b883;
  color: #fff;
}

.character.Y, .keyboard .key.Y {
  background: #edc617;
  color: #000;
}

.character.B, .keyboard .key.B {
  background: rgb(87, 87, 87);
  color: #fff;
}

.key {
  flex: 1;
  background: #b1b1b1;
  border: 0;
  width: 30px;
  height: 40px;
  color: #17191c;
  margin: 2px;
  font-size: 1.25em;
}

.bad-guess {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #1a1a1a;
}

.flex {
  display: flex;
}

.guess.key {
  flex: 1;
}

.new-game.key {
  flex: 1;
}

.new-game.key:hover {
  filter: brightness(85%)
}

.keyboard .key.guess {
  width: 60px;
}

.keyboard .key:hover {
  filter: brightness(85%)
}

.row {
  display: flex;
}

.input {
  max-width: 600px;
  margin: 0 auto;
}