.character {
  width: 24px;
  margin: 5px;
  height: 24px;
  text-align: center;
  border: 1px solid #999
}

.character.G, .keyboard .key.G {
  background: #16b93f;
  color: #fff;
}

.character.Y, .keyboard .key.Y {
  background: yellow;
  color: #000;
}

.character.B, .keyboard .key.B {
  background: black;
  color: #fff;
}

.keyboard .key {
  background: #b1b1b1;
  border: 0;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: #17191c;
  margin: 2px;
}

.keyboard .key.guess {
  width: 60px;
}