html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans';
  margin: 0 5px;
}

header {
  display: flex;
  align-items: center;
}

header .spacer {
  flex-grow: 1;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  flex-grow: 5;
}

#app {
  display: flex;
  justify-content: center;
}

.app-container {
  width: 100vw;
  max-width: 600px;
}

.character {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  width: 50px;
  margin: 5px;
  height: 50px;
  border: 2px solid #444;
}

.words {
  display: flex;
  justify-content: center;
}

.words-list {
  margin-bottom: 10px;
}

.character {
  border-radius: 5px;
}

.character.G, .keyboard .key.G {
  background: #42b883;
  color: #fff;
}

.character.Y, .keyboard .key.Y {
  background: #edc617;
  color: #444;
}

.character.B, .keyboard .key.B {
  background: #444;
  color: #fff;
}

.key {
  border-radius: 3px;
  flex: 1;
  background: #b1b1b1;
  border: 0;
  width: 30px;
  height: 50px;
  color: #17191c;
  margin: 3px 2px;
  font-size: 1.25em;
}

.info {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: #1a1a1a;
  margin: 0 0 15px 0;
  text-align: center;
}

.flex {
  display: flex;
}

.guess_new-game {
  margin: 20px 0 0 0;
}

.guess.key {
  flex: 1;
}

.new-game.key {
  flex-grow: 1;
}

.keyboard .key.guess {
  width: 60px;
}

.key:hover, .key:active {
  filter: brightness(85%)
}

.row {
  display: flex;
}

.input {
  max-width: 600px;
  margin: 0 auto;
}