.character {
  width: 24px;
  margin: 5px;
  height: 24px;
  text-align: center;
  border: 1px solid #999
}

.character.G {
  background: #16b93f;
  color: #fff;
}

.character.Y {
  background: yellow;
  color: #000;
}

.character.B {
  background: black;
  color: #fff;
}

/* .keyboard .key {
  background: #2b0921;
  border: 0;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: #86a6c7;
} */